@import url( https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap );

:root {
    --container-width: 1400px;
    --text-sans: 'Roboto', 'Arial', sans-serif;
    --site-bg: #161d27;
    --text-color: #f9f9f9;
    --accent-color: #d15055;
    --live-color: #77b978;
    --light-gray: #2d3036;
    --dark-bg: #000000;
}

body {
    margin: 0;
    font-family: var( --text-sans );
    color: var( --text-color );
    background: var( --site-bg );
}

a:link, a:visited {
    text-decoration: none;
    color: var( --text-color );
}

a:hover {
    color: var( --accent-color );
}

/* header */

header {
    background: var( --light-gray );
}

header .header-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: var( --container-width );
    padding: 12px 0;
}

header .header-inner h1 {
    margin: 0;
    font-size: 2em;
}

header .header-inner h1 a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: uppercase;
    color: var( --accent-color );
}

header .header-inner h1 a img {
    width: 80px;
    margin-right: 16px;
}

header .header-inner nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
}

header .header-inner nav ul li {
    padding: 0 8px;
}

header .header-inner nav ul li a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
}

/* footer */

footer {
    background: var( --light-gray );
}

footer .footer-inner {
    margin: 0 auto;
    width: var( --container-width );
    padding: 20px 0 100px 0;
}

footer .footer-inner nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer .footer-inner nav ul li {
    padding: 0 8px;
}

footer .footer-inner nav ul li a {
    text-transform: uppercase;
}

footer .footer-inner .credits {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    opacity: 0.7;
}

/* main */

.term:link, .term:visited, .term:hover,
.tag:link, .tag:visited, .tag:hover {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.6em;
    text-transform: uppercase;
    color: var(--text-color);
    background: var( --accent-color );
    border-radius: 0.3em;
}

.term:hover, .tag:hover {
    opacity: 0.9;
}

.term.live, .term.vod {
    background: var( --live-color );
    pointer-events: none;
}

.tag:link, .tag:visited, .tag:hover {
    background: var( --light-gray );
    font-size: 0.8em;
}