@import url( https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap );

:root {
    --container-width: 1400px;
    --text-sans: 'Roboto', 'Arial', sans-serif;
    --site-bg: #161d27;
    --text-color: #f9f9f9;
    --accent-color: #d15055;
    --live-color: #77b978;
    --light-gray: #2d3036;
    --dark-bg: #000000;
}

body {
    margin: 0;
    font-family: var( --text-sans );
    color: var( --text-color );
    background: var( --site-bg );
}

a:link, a:visited {
    text-decoration: none;
    color: var( --text-color );
}

a:hover {
    color: var( --accent-color );
}

/* header */

header {
    background: var( --light-gray );
}

header .header-inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: var( --container-width );
    padding: 12px 0;
}

header .header-inner h1 {
    margin: 0;
    font-size: 2em;
}

header .header-inner h1 a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: uppercase;
    color: var( --accent-color );
}

header .header-inner h1 a img {
    width: 80px;
    margin-right: 16px;
}

header .header-inner .on-air:link,
header .header-inner .on-air:visited,
header .header-inner .on-air:hover {
    position: relative;
    display: block;
    margin: 0 1.6em;
    padding: 0.4em 0.8em 0.4em 2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    color: var( --text-color );
    background: var( --accent-color );
    border-radius: 0.5em;
}

header .header-inner .on-air .pulse {
    content: '';
    position: absolute;
    top: calc( 50% - 5px );
    left: 0.85em;
    width: 10px;
    height: 10px;
    background: var( --text-color );
    border-radius: 50%;
    transform: scale( 1 );
}

header .header-inner .on-air .pulse::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: var( --text-color );
    border-radius: 50%;
    transform: scale( 1 );
    opacity: 0;
    animation: on-air-pulse 2s infinite;
}

@keyframes on-air-pulse {
    0% {
        transform: scale( 1 );
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        transform: scale( 2 );
    }
    100% {
        opacity: 0;
    }
}

header .header-inner .clear {
    flex: 1;
}

header .header-inner nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
}

header .header-inner nav ul li {
    padding: 0 8px;
}

header .header-inner nav ul li a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
}

/* footer */

footer {
    background: var( --light-gray );
}

footer .footer-inner {
    margin: 0 auto;
    width: var( --container-width );
    padding: 20px 0 100px 0;
}

footer .footer-inner nav ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer .footer-inner nav ul li {
    padding: 0 8px;
}

footer .footer-inner nav ul li a {
    text-transform: uppercase;
}

footer .footer-inner .credits {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    opacity: 0.7;
}

footer .footer-inner .shortcodes {
    margin: 3em 0;
}

footer .footer-inner .shortcodes h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.7;
}

footer .footer-inner .shortcodes ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

footer .footer-inner .shortcodes ul li {
    flex: 0 0 calc( 50% - 1em );
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3em 0.5em;
}

footer .footer-inner .shortcodes ul li:nth-child( 2n + 1 ) {
    justify-content: flex-end;
}

footer .footer-inner .shortcodes ul li code {
    display: block;
    padding: 0.2em 0.5em;
    font-size: 1.05em;
    font-weight: 900;
    border: 1px solid var( --text-color );
    border-radius: 0.4em;
}

footer .footer-inner .shortcodes ul li:nth-child( 2n + 1 ) code {
    order: 2;
}

footer .footer-inner .shortcodes ul li span {
    padding: 0 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7em;
    opacity: 0.7;
}

/* main */

main {
    min-height: 70vh;
}

a.term:link, a.term:visited, a.term:hover,
a.tag:link, a.tag:visited, a.tag:hover {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.6em;
    text-transform: uppercase;
    color: var(--text-color);
    background: var( --accent-color );
    border-radius: 0.3em;
}

a.term:hover, a.tag:hover {
    opacity: 0.9;
}

a.term.live, a.term.vod {
    background: var( --live-color );
}

a.tag:link, a.tag:visited, a.tag:hover {
    background: var( --light-gray );
    font-size: 0.8em;
}
