@media all and ( max-width: 1440px ) {

    :root {
        --container-width: 1200px;
    }

}

@media all and ( max-width: 1240px ) {

    :root {
        --container-width: 1000px;
    }

}

@media all and ( max-width: 1040px ) {

    :root {
        --container-width: 800px;
    }

}