.shedule {
    margin: 4em auto;
    width: var( --container-width );
}

.shedule h2 {
    font-size: 2em;
}

.shedule .events {
    display: flex;
    flex-flow: column nowrap;
}

.shedule .events .event {
    position: relative;
    margin-bottom: 2em;
    padding: 2em;
    background: var( --light-gray );
    border-radius: 1em;
    overflow: hidden;
}

.shedule .events .event .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center top;
    background-size: cover;
    opacity: 0.1;
}

.shedule .events .event .info {
    position: relative;
    z-index: 9;
}

.shedule .events .event .clock {
    float: right;
}

.shedule .events .event h3 {
    margin: 0.4em 33% 0.2em 0;
    font-size: 1.6em;
}

.shedule .events .event p {
    margin: 0 33% 0 0;
    font-size: 1.1em;
    opacity: 0.8;
}