.video-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var( --dark-bg );
}

.stream .video-container iframe {
    position: relative;
    width: var( --container-width );
    height: calc( var( --container-width ) / 16 * 9 );
}

.stream .info-container {
    position: relative;
    margin: 0 auto;
    width: var( --container-width );
    padding: 2em 0;
}

.stream .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: var( --light-gray );
}

.stream .progress .bar {
    width: 0;
    height: 5px;
    background: var( --accent-color );
    animation-name: progress-bar;
}

@keyframes progress-bar {
    100% {
        width: 100%;
    }
}

.stream .info-container .clock,
.stream .info-container .time {
    float: right;
}

.stream .info-container .clock .span {
    font-weight: 900;
}

.stream .info-container h1 {
    margin: 0.5em 33% 1em 0;
    font-size: 2em;
}

.stream .info-container .external span {
    padding-right: 0.5em;
}

.stream .info-container p {
    margin: 0 33% 1em 0;
    line-height: 1.5;
    font-size: 1.3em;
    opacity: 0.8;
}

.stream .info-container .external {
    margin-top: 0.5em;
    text-transform: uppercase;
    font-size: 0.9em;
}
